body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
}

nav .logo {
    font-weight: bold;
    margin-right: auto;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

nav .active {
    color: blue;
}

.active {
    color: blue;
    font-weight: bold;
}

.container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 20px;
}

.info div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.btn-modifier {
    background-color: #f4a000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group {
    display: flex;
    align-items: center; /* Alignement vertical centré */
    justify-content: space-between; /* Espacement entre label et input */
    margin-bottom: 15px;
}

label {
    width: 100px; /* Largeur fixe pour aligner correctement */
    text-align: left;
}

input {
    flex: 1; /* Prend tout l'espace disponible */
    padding: 5px;
}
