<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile - Pay My Buddy</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>

<header>
    <nav>
        <span class="logo">Pay My Buddy</span>
        <a href="transfer" class="active">Transférer</a>
        <a href="profile">Profil</a>
        <a href="add">Ajouter relation</a>
        <a href="logout">Se déconnecter</a>
    </nav>
</header>

<div class="container">
    <div class="info">
        <form th:action="@{/api/v1/profile}" th:object="${user}" method="post">
            <input type="hidden" name="_method" value="put"/> <!-- Simule un PUT avec Thymeleaf -->

            <div class="form-group">
                <label>Username</label>
                <input type="text" th:field="*{username}" required>
            </div>

            <div class="form-group">
                <label>Mail</label>
                <input type="email" th:field="*{mail}" required>
            </div>

            <div class="form-group">
                <label>Mot de passe</label>
                <input type="password" th:field="*{password}" required>
            </div>


    </div>
    <button class="btn-modifier">Modifier</button>
</div>
</body>
</html>
